/* global variables */
:root {
	--soft-cyan: hsl(174, 77%, 80%); /*(Full Slider Bar) */
	--strong-cyan: hsl(174, 86%, 45%); /*(Slider Backround)*/
	--light-grayish-red: hsl(14, 92%, 95%); /*(Discount Background)*/
	--light-red: hsl(15, 100%, 70%); /* (Discount Text)*/
	--pale-blue: hsl(226, 100%, 87%); /*(CTA Text)*/
	--white: hsl(0, 0%, 100%); /*(Pricing Component Background)*/
	--light-grayish-blue-toggle: hsl(222, 49%, 87%); /*(Toggle Background) */
	--light-grayish-blue: hsl(226, 68%, 95%); /*(Empty Slider Bar)*/
	--grayish-blue: hsl(225, 20%, 60%); /*(Text)*/
	--dark-desaturated-blue: hsl(226, 36%, 25%); /*(Text & CTA Background)*/
	--dark-desaturated-blue-bright: hsl(226, 42%, 39%); /*button hover effect */
	--very-pale-blue: hsl(230, 100%, 99%); /* (Main Background)*/
}

/*global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

/* Typography */
body {
	font-family: "Manrope", sans-serif;
	color: var(--grayish-blue);
}

main {
	min-height: 100vh;
	background: no-repeat url(./images/bg-pattern.svg);
}

/* header */
header {
	padding: 4rem 0 3rem;
	background: no-repeat center url(./images/pattern-circles.svg);
	background-position-y: 2.2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 1.25rem;
	font-weight: 800;
	line-height: 2rem;
	margin-bottom: 0.5rem;
	color: var(--dark-desaturated-blue);
}

header p {
	line-height: 1.5rem;
	font-size: 0.9rem;
}
/* pricing-component-card section */
.pricing-component-card {
	border-radius: 0.5rem;
	margin: 2.5rem 1.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	box-shadow: 0 1rem 1rem 0 var(--light-grayish-blue);
}

/* 
top-card section */
.card-top {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--light-grayish-blue);
}

.page-views {
	font-size: 0.75rem;
	letter-spacing: 0.1rem;
	font-weight: 800;
	margin: 2rem auto 1rem;
}

span.views {
	display: inline-block;
	width: 40px;
	text-align: end;
}
/* slider styles */
.slider-container {
	width: 85%;
	margin: 1.5rem auto;
}

input#slider.slider {
	height: 0.5rem;
	border-radius: 0.25rem;
}

input[type="range"] {
	-webkit-appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
	background: linear-gradient(
		90deg,
		var(--soft-cyan) 0% 47%,
		var(--light-grayish-blue) 44% 100%
	);
}

/* track styles */
input[type="range"]::-webkit-slider-runnable-track {
	height: 0.5rem;
	border-radius: 0.25rem;
}

input[type="range"]::-moz-range-track {
	height: 0.5rem;
	border-radius: 0.25rem;
}
.slider::-moz-range-progress {
	background: var(--soft-cyan);
	height: 0.5rem;
	border-radius: 0.25rem;
}

/* thumb styles */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-image: url(./images/icon-slider.svg);
	background-color: var(--strong-cyan);
	box-shadow: 0px 10px 20px 5px var(--soft-cyan);
	width: 2.5rem;
	height: 2.5rem;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin-top: -16px;
}

input[type="range"]::-moz-range-thumb {
	border: none;
	background-image: url(./images/icon-slider.svg);
	background-color: var(--strong-cyan);
	box-shadow: 0px 10px 20px 5px var(--soft-cyan);
	width: 2.5rem;
	height: 2.5rem;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin-top: -16px;
}

/* focus styles */
input[type="range"]:focus {
	outline: none;
	cursor: grab;
}

input[type="range"]:focus::-webkit-slider-thumb {
	border: 1px solid var(--soft-cyan);
	outline: 1px solid var(--soft-cyan);
}
/* amount per month section */
.amount {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	margin: 1rem auto;
}

.amount p,
span.dollars {
	font-weight: 800;
}

span.amount {
	font-size: 0.8rem;
}
p.amount-per-month,
span.dollars {
	color: var(--dark-desaturated-blue);
}
span.dollars {
	display: inline-block;
	width: 95px;
	text-align: center;
}
/* billing section */
.billing {
	width: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.75rem;
	margin: 1rem auto 2.2rem auto;
}
.monthly,
.yearly {
	font-size: 0.75rem;
}
.monthly {
	padding-left: 1rem;
	padding-right: 0.75rem;
}
.yearly {
	padding-left: 0.75rem;
}
.mobile.discount {
	display: inline-block;
	padding: 0.3rem 0.4rem;
}
.discount {
	background-color: var(--light-grayish-red);
	color: var(--light-red);
	border-radius: 2rem;
	font-size: 0.625rem;
}
.desktop.discount {
	display: none;
}
/* monthly/yearly toggle switch */
.switch {
	position: relative;
	display: inline-block;
	width: 44px;
	height: 22px;
}

.switch input {
	-webkit-appearance: none;
	opacity: 0;
	width: 0;
	height: 0;
}

.switch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--light-grayish-blue-toggle);
	border-radius: 30px;
	transition: 0.3s;
}

input:checked + .switch-slider {
	background-color: var(--strong-cyan);
}

.switch-slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	bottom: 4px;
	left: 4px;
	border-radius: 50%;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .switch-slider:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
}

/* card-bottom section */
.card-bottom {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 2rem auto;
}
.card-bottom ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	list-style-image: url(./images/icon-check.svg);
	margin: 1.5rem auto;
}

.checklist li {
	padding-left: 0.5rem;
	font-size: 0.75rem;
	padding-bottom: 0.7rem;
}

button.cta {
	background: none;
	background-color: var(--dark-desaturated-blue);
	color: var(--pale-blue);
	border: none;
	padding: 0.8rem 2.75rem;
	font-size: 1em;
	transition: all 0.2s;
	font-size: 0.75rem;
	letter-spacing: 0.1em;
	border-radius: 20px;
}
button:hover {
	cursor: pointer;
	background-color: var(--dark-desaturated-blue-bright);
	box-shadow: 0 1rem 1rem 0 var(--light-grayish-blue);
}

/* wider screen styles styles */
@media only screen and (min-width: 1050px) {
	h1 {
		font-size: 1.75rem;
		padding-top: 2.5rem;
	}
	.sign-up {
		display: flex;
		flex-direction: row;
	}
	.credit {
		padding-left: 0.3rem;
	}

	.pricing-component-card {
		width: 545px;
		margin: 4rem auto;
	}
	.card-top {
		display: grid;
		grid-template-areas:
			"page-views "
			"slider-container "
			"amount"
			"billing ";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr 1fr 2fr;
		grid-template-areas:
			"page-views amount"
			"slider-container slider-container"
			"billing billing";
	}
	.page-views {
		font-size: 0.87rem;
		padding-left: 1rem;
	}
	.page-views {
		width: 75%;
	}
	.amount {
		grid-area: amount;
		font-size: 2.5rem;
		padding-left: 0.5rem;
	}
	span.dollars {
		min-width: 110px;
	}
	.slider-container {
		grid-area: slider-container;
	}
	.billing {
		grid-area: billing;
		justify-content: center;
		margin-left: 5rem;
	}
	.mobile.discount {
		display: none;
	}
	.desktop.discount {
		display: block;
		padding: 0.4rem;
		margin-left: 0.75rem;
	}
	.card-bottom {
		width: 95%;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
	}
	.card-bottom ul {
		align-items: flex-start;
		margin-left: 3rem;
	}
}
