/* global variables */
:root {
	--soft-cyan: hsl(174, 77%, 80%); /*(Full Slider Bar) */
	--strong-cyan: hsl(174, 86%, 45%); /*(Slider Backround)*/
	--light-grayish-red: hsl(14, 92%, 95%); /*(Discount Background)*/
	--light-red: hsl(15, 100%, 70%); /* (Discount Text)*/
	--pale-blue: hsl(226, 100%, 87%); /*(CTA Text)*/
	--white: hsl(0, 0%, 100%); /*(Pricing Component Background)*/
	--light-grayish-blue: hsl(223, 50%, 87%); /*(Toggle Background) */
	--light-grayish-blue: hsl(226, 68%, 95%); /*(Empty Slider Bar)*/
	--grayish-blue: hsl(225, 20%, 60%); /*(Text)*/
	--dark-desaturated-blue: hsl(226, 36%, 25%); /*(Text & CTA Background)* */
	--very-pale-blue: hsl(230, 100%, 99%); /* (Main Background)*/
}

/*global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

/* Typography */
body,
button {
	font-family: "Manrope", sans-serif;
	color: var(--dark-desaturated-blue);
}

/* header section */
header {
	height: 45vh;
	background-image: url(./images/bg-pattern.svg);
	position: relative;
}

.intro {
	padding-top: 2rem;
	height: 60%;
	background: content-box no-repeat center url(./images/pattern-circles.svg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro h1 {
	font-size: 1.25rem;
	font-weight: 800;
	line-height: 2rem;
	margin-bottom: 1rem;
}

.intro p {
	line-height: 1.5rem;
	font-size: 0.9rem;
}

/* info card section */
.pricing-component {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 15rem;
	left: 7.5%;
	box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
	border-radius: 0.5rem;
	height: 60%;
	width: 85%;
	margin: 1rem auto;
	background-color: var(--white);
	z-index: 1;
}
/* 
top-card section */
.card-top {
	height: 50%;
	display: grid;
	text-align: center;
	padding: 2rem 1.5rem;
}

h2.page-views {
	font-size: 0.75rem;
	letter-spacing: 0.2rem;
	font-weight: 800;
}
/* slider styles */
input[type="range"] {
	-webkit-appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
	background: linear-gradient(
		90deg,
		hsl(174, 76%, 80%) 0% 44%,
		rgb(234, 238, 251) 44% 100%
	);
}

/* track styles */
input[type="range"]::-webkit-slider-runnable-track {
	background: hsl(174, 77%, 80%);
	height: 0.5rem;
	border-radius: 0.25rem;
}

input[type="range"]::-moz-range-track {
	background: hsl(174, 77%, 80%);
	height: 0.5rem;
	border-radius: 0.25rem;
}

/* thumb styles */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-image: url(./images/icon-slider.svg);
	background-color: hsl(174, 77%, 80%);
	width: 2.5rem;
	height: 2.5rem;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin-top: -16px;
}
input[type="range"]::-webkit-slider-thumb:hover {
	box-shadow: 0px 10px 20px 5px hsl(174, 77%, 80%);
	background-color: hsl(174, 86%, 45%);
}

input[type="range"]::-moz-range-thumb {
	border: none;
	background-image: url(./images/icon-slider.svg);
	background-color: hsl(174, 77%, 80%);
	width: 2.5rem;
	height: 2.5rem;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin-top: -16px;
}

input[type="range"]::-moz-range-thumb:hover {
	box-shadow: 0px 10px 20px 5px hsl(174, 77%, 80%);
	background-color: hsl(174, 86%, 45%);
}

/* focus styles */
input[type="range"]:focus {
	outline: none;
	cursor: grab;
}

input[type="range"]:focus::-webkit-slider-thumb {
	border: 1px solid hsl(174, 77%, 80%);
	outline: 1px solid hsl(174, 77%, 80%);
}

.amount {
	font-size: 2rem;
}
.amount span {
	font-size: 0.8rem;
}
.desktop.discount {
	display: none;
}

/* card-bottom section */
.card-bottom {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid var(--grayish-blue);
}
ul {
	text-align: center;
}
