/* global variables */
:root {
	--soft-cyan: hsl(174, 77%, 80%); /*(Full Slider Bar) */
	--strong-cyan: hsl(174, 86%, 45%); /*(Slider Backround)*/
	--light-grayish-red: hsl(14, 92%, 95%); /*(Discount Background)*/
	--light-red: hsl(15, 100%, 70%); /* (Discount Text)*/
	--pale-blue: hsl(226, 100%, 87%); /*(CTA Text)*/
	--white: hsl(0, 0%, 100%); /*(Pricing Component Background)*/
	--light-grayish-blue: hsl(223, 50%, 87%); /*(Toggle Background) */
	--light-grayish-blue: hsl(226, 68%, 95%); /*(Empty Slider Bar)*/
	--grayish-blue: hsl(225, 20%, 60%); /*(Text)*/
	--dark-desaturated-blue: hsl(226, 36%, 25%); /*(Text & CTA Background)* */
	--very-pale-blue: hsl(230, 100%, 99%); /* (Main Background)*/
}

/*global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

/* Typography */
body,
button {
	font-family: "Manrope", sans-serif;
	color: var(--dark-desaturated-blue);
}

/* header section */
header {
	height: 45vh;
	background-image: url(./images/bg-pattern.svg);
	position: relative;
}

.intro {
	padding-top: 2rem;
	height: 60%;
	background: content-box no-repeat center url(./images/pattern-circles.svg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro h1 {
	font-size: 1.25rem;
	font-weight: 800;
	line-height: 2rem;
	margin-bottom: 1rem;
}

.intro p {
	line-height: 1.5rem;
	font-size: 0.9rem;
}

.sign-up {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: fit-content;
}
/* pricing card component section */
.pricing-component-card {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 15rem;
	left: 7.5%;
	box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
	border-radius: 0.5rem;
	height: 60%;
	width: 85%;
	margin: 1rem auto;
	background-color: var(--white);
	z-index: 1;
}
/* 
top-card section */
.card-top {
	height: 50%;
	display: grid;
	grid-template-areas:
		"page-views "
		"slider-container "
		"amount"
		"billing ";
	text-align: center;
	padding: 2rem 1.5rem;
}

h2.page-views {
	font-size: 0.75rem;
	letter-spacing: 0.2rem;
	font-weight: 800;
	margin-bottom: 1rem;
}
/* slider styles */
input[type="range"] {
	-webkit-appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
	background: linear-gradient(
		90deg,
		hsl(174, 76%, 80%) 0% 44%,
		rgb(234, 238, 251) 44% 100%
	);
}

/* track styles */
input[type="range"]::-webkit-slider-runnable-track {
	background: hsl(174, 77%, 80%);
	height: 0.5rem;
	border-radius: 0.25rem;
}

input[type="range"]::-moz-range-track {
	background: hsl(174, 77%, 80%);
	height: 0.5rem;
	border-radius: 0.25rem;
}

/* thumb styles */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-image: url(./images/icon-slider.svg);
	background-color: hsl(174, 77%, 80%);
	width: 2.5rem;
	height: 2.5rem;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin-top: -16px;
}
input[type="range"]::-webkit-slider-thumb:hover {
	box-shadow: 0px 10px 20px 5px hsl(174, 77%, 80%);
	background-color: hsl(174, 86%, 45%);
}

input[type="range"]::-moz-range-thumb {
	border: none;
	background-image: url(./images/icon-slider.svg);
	background-color: hsl(174, 77%, 80%);
	width: 2.5rem;
	height: 2.5rem;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin-top: -16px;
}

input[type="range"]::-moz-range-thumb:hover {
	box-shadow: 0px 10px 20px 5px hsl(174, 77%, 80%);
	background-color: hsl(174, 86%, 45%);
}

/* focus styles */
input[type="range"]:focus {
	outline: none;
	cursor: grab;
}

input[type="range"]:focus::-webkit-slider-thumb {
	border: 1px solid hsl(174, 77%, 80%);
	outline: 1px solid hsl(174, 77%, 80%);
}

/* amount per month section */
.amount {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.amount p {
	font-weight: 800;
}
.amount span {
	font-size: 0.8rem;
	padding-left: 0.65rem;
}

/* monthly/yearly toggle switch */
.switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: hsl(223, 50%, 87%);
	border-radius: 34px;
}

input:checked + .switch-slider {
	background-color: hsl(174, 86%, 45%);
}

.switch-slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	bottom: 4px;
	left: 4px;
	border-radius: 50%;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .switch-slider:before {
	-webkit-transform: translateX(24px);
	-ms-transform: translateX(24px);
	transform: translateX(24px);
}

/* billing section */
.billing {
	margin: 0 0 0 8%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 0.75rem;
}
/* discount switch toggler */

.mobile.discount {
	display: inline-block;
	padding: 0.3rem 0.4rem;
}
.discount {
	background-color: var(--light-grayish-red);
	color: var(--light-red);
	border-radius: 2rem;
	font-size: 0.625rem;
}
.desktop.discount {
	display: none;
}

/* card-bottom section */
.card-bottom {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid var(--grayish-blue);
	padding-bottom: 2rem;
}
.card-bottom ul {
	display: flex;
	flex-direction: column;
	height: 50%;
	justify-content: space-around;
	align-items: center;
	list-style-image: url(./images/icon-check.svg);
}

.checklist li {
	padding-left: 0.5rem;
}

button.cta {
	background: none;
	background-color: var(--dark-desaturated-blue);
	color: var(--pale-blue);
	border: none;
	padding: 0.8rem 3rem;
	font-size: 1em;
	transition: all 0.2s;
	font-size: 0.75rem;
	letter-spacing: 0.1em;
	border-radius: 20px;
	cursor: pointer;
}

/* wider screen styles styles */
@media only screen and (min-width: 800px) {
	.intro h1 {
		font-size: 1.75rem;
	}
	.sign-up {
		flex-direction: row;
	}
	.credit {
		padding-left: 0.3rem;
	}

	.pricing-component-card {
		max-width: 40%;
		left: 30%;
	}
	.card-top {
		height: 65%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 3fr 1fr 3fr;
		grid-template-areas:
			"page-views amount"
			"slider-container slider-container"
			"billing billing";
		padding: 0 3rem;
	}
	.amount {
		grid-area: amount;
	}
	.slider-container {
		grid-area: slider-container;
	}
	.billing {
		grid-area: billing;
	}
	.h2-container {
		display: flex;
		align-items: center;
	}
	h2.page-views {
		margin-bottom: 0;
	}
}
/* TODO: increase font size of page views and check amount per month
narrow down billing and change div card bottom to  row layout 
narrow gap between billing and slider*/
